/*
General Styles
*/

/* - Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%) */
/* - Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%) */

* {
--softRed: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
--darkDesaturatedCyan: hsl(167, 40%, 24%);
--darkBlue: hsl(198, 62%, 26%);
--darkModerateCyan: hsl(168, 34%, 41%);
--veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
--veryDarkGrayishBlue: hsl(213, 9%, 39%);
--darkGrayishBlue: hsl(232, 10%, 55%);
--grayishBlue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);
}

/*
Header Styles
*/

/*
Landing Page Styles
*/

/*
Footer Styles
*/

